# CS_ELEC3C PROJECT - GROUP 2 (4CSC)

- Balangeg, Kyle
- Cruz, Dwight Kenneth
- De Lara, Aaron Charles
- Gaano, Rex Allaire
- Ng, Alyza Paige

### Initial Update:
- Added Data Cleaning
- Added Feature Engineering

### To do list:
- Check the data cleaning part
- Check and add more feature engineering
- Data Exploration
- Visualizations

## Part 1: Data Wrangling

### 1.1 Data Cleaning

#### ➡️ Load the dataset into Pandas dataframe

In [1]:
# Importing libraries
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings

# Ignore warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
# Importing the dataset
df_livestock = pd.read_csv('2E4FINL0.csv', header=1)

#### ➡️ Inspect the data

In [3]:
# First 5 rows of the dataset
df_livestock.head()

,Animal Type,Farm Type,Geolocation,1994 01 January,1994 01 April,1994 01 July,1994 01 October,1995 01 January,1995 01 April,1995 01 July,...,2021 01 July,2021 01 October,2022 01 January,2022 01 April,2022 01 July,2022 01 October,2023 01 January,2023 01 April,2023 01 July,2023 01 October
0,Carabao,Backyard,PHILIPPINES,2555492,..,2664806,..,2702325,..,2832240,...,2837583,..,2769604,2766991,2762309,2781425,2766009,..,..,..
1,Carabao,Backyard,National Capital Region (NCR),..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
2,Carabao,Backyard,Cordillera Administrative Region (CAR),89882,..,97573,..,99245,..,115566,...,78747,..,77218,77605,78637,79207,78579,..,..,..
3,Carabao,Backyard,....Abra,24784,..,25952,..,26377,..,35461,...,16408,..,17475,18075,17996,18591,17800,..,..,..
4,Carabao,Backyard,....Apayao,..,..,..,..,..,..,..,...,17309,..,17856,17240,18175,18100,18045,..,..,..

In [4]:
# Summary of the dataset
df_livestock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 808 entries, 0 to 807
Columns: 123 entries, Animal Type to 2023 01 October
dtypes: object(123)
memory usage: 776.6+ KB

In [5]:
# Statistical overview
df_livestock.describe()

,Animal Type,Farm Type,Geolocation,1994 01 January,1994 01 April,1994 01 July,1994 01 October,1995 01 January,1995 01 April,1995 01 July,...,2021 01 July,2021 01 October,2022 01 January,2022 01 April,2022 01 July,2022 01 October,2023 01 January,2023 01 April,2023 01 July,2023 01 October
count,808,808,808,808,808,808,808,808,808,808,...,808,808,808,808,808,808,808,808,808,808
unique,4,2,101,590,162,618,171,609,170,615,...,677,193,629,619,616,616,609,1,1,1
top,Carabao,Backyard,PHILIPPINES,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
freq,202,404,8,184,645,161,637,147,635,160,...,96,614,146,146,151,149,150,808,808,808

In [6]:
# List of column names
df_livestock.columns

Index(['Animal Type', 'Farm Type', 'Geolocation', '1994 01 January',
       '1994 01 April', '1994 01 July', '1994 01 October', '1995 01 January',
       '1995 01 April', '1995 01 July',
       ...
       '2021 01 July', '2021 01 October', '2022 01 January', '2022 01 April',
       '2022 01 July', '2022 01 October', '2023 01 January', '2023 01 April',
       '2023 01 July', '2023 01 October'],
      dtype='object', length=123)

#### ➡️ Create a data dictionary

In [7]:
def create_data_dict(fao):
    # Manually define the descriptions for each column
    descriptions = {
        'Animal Type': 'Type of animal present in the farm',
        'Farm Type': 'Type of farm where the animals are',
        'Geolocation': 'Regions and provinces in the Philippines'
    }

    # Create the data dictionary DataFrame
    data_dict = pd.DataFrame({
        'Column Name': df_livestock.columns,
        'Data Type': df_livestock.dtypes,
        'Description': [descriptions.get(col, 'Number of animals present in the farm as of specific reference date') for col in df_livestock.columns]
    })
    
    return data_dict

data_dict_fao = create_data_dict(df_livestock)

print("Data Dictionary for Livestock: Inventory by Animal Type, Farm Type, Region, Province and Quarter, 1994-2022:\n")
print(data_dict_fao.to_markdown(index=False))

Data Dictionary for Livestock: Inventory by Animal Type, Farm Type, Region, Province and Quarter, 1994-2022:

| Column Name     | Data Type   | Description                                                         |
|:----------------|:------------|:--------------------------------------------------------------------|
| Animal Type     | object      | Type of animal present in the farm                                  |
| Farm Type       | object      | Type of farm where the animals are                                  |
| Geolocation     | object      | Regions and provinces in the Philippines                            |
| 1994 01 January | object      | Number of animals present in the farm as of specific reference date |
| 1994 01 April   | object      | Number of animals present in the farm as of specific reference date |
| 1994 01 July    | object      | Number of animals present in the farm as of specific reference date |
| 1994 01 October | object      | Number of animals present in the farm as of specific reference date |
| 1995 01 January | object      | Number of animals present in the farm as of specific reference date |
| 1995 01 April   | object      | Number of animals present in the farm as of specific reference date |
| 1995 01 July    | object      | Number of animals present in the farm as of specific reference date |
| 1995 01 October | object      | Number of animals present in the farm as of specific reference date |
| 1996 01 January | object      | Number of animals present in the farm as of specific reference date |
| 1996 01 April   | object      | Number of animals present in the farm as of specific reference date |
| 1996 01 July    | object      | Number of animals present in the farm as of specific reference date |
| 1996 01 October | object      | Number of animals present in the farm as of specific reference date |
| 1997 01 January | object      | Number of animals present in the farm as of specific reference date |
| 1997 01 April   | object      | Number of animals present in the farm as of specific reference date |
| 1997 01 July    | object      | Number of animals present in the farm as of specific reference date |
| 1997 01 October | object      | Number of animals present in the farm as of specific reference date |
| 1998 01 January | object      | Number of animals present in the farm as of specific reference date |
| 1998 01 April   | object      | Number of animals present in the farm as of specific reference date |
| 1998 01 July    | object      | Number of animals present in the farm as of specific reference date |
| 1998 01 October | object      | Number of animals present in the farm as of specific reference date |
| 1999 01 January | object      | Number of animals present in the farm as of specific reference date |
| 1999 01 April   | object      | Number of animals present in the farm as of specific reference date |
| 1999 01 July    | object      | Number of animals present in the farm as of specific reference date |
| 1999 01 October | object      | Number of animals present in the farm as of specific reference date |
| 2000 01 January | object      | Number of animals present in the farm as of specific reference date |
| 2000 01 April   | object      | Number of animals present in the farm as of specific reference date |
| 2000 01 July    | object      | Number of animals present in the farm as of specific reference date |
| 2000 01 October | object      | Number of animals present in the farm as of specific reference date |
| 2001 01 January | object      | Number of animals present in the farm as of specific reference date |
| 2001 01 April   | object      | Number of animals present in the farm as of specific reference date |
| 2001 01 July    | object      | Number of animals present in the farm as of specific reference date |
| 2001 01 October | object      | Number of animals present in the farm as of specific reference date |
| 2002 01 January | object      | Number of animals present in the farm as of specific reference date |
| 2002 01 April   | object      | Number of animals present in the farm as of specific reference date |
| 2002 01 July    | object      | Number of animals present in the farm as of specific reference date |
| 2002 01 October | object      | Number of animals present in the farm as of specific reference date |
| 2003 01 January | object      | Number of animals present in the farm as of specific reference date |
| 2003 01 April   | object      | Number of animals present in the farm as of specific reference date |
| 2003 01 July    | object      | Number of animals present in the farm as of specific reference date |
| 2003 01 October | object      | Number of animals present in the farm as of specific reference date |
| 2004 01 January | object      | Number of animals present in the farm as of specific reference date |
| 2004 01 April   | object      | Number of animals present in the farm as of specific reference date |
| 2004 01 July    | object      | Number of animals present in the farm as of specific reference date |
| 2004 01 October | object      | Number of animals present in the farm as of specific reference date |
| 2005 01 January | object      | Number of animals present in the farm as of specific reference date |
| 2005 01 April   | object      | Number of animals present in the farm as of specific reference date |
| 2005 01 July    | object      | Number of animals present in the farm as of specific reference date |
| 2005 01 October | object      | Number of animals present in the farm as of specific reference date |
| 2006 01 January | object      | Number of animals present in the farm as of specific reference date |
| 2006 01 April   | object      | Number of animals present in the farm as of specific reference date |
| 2006 01 July    | object      | Number of animals present in the farm as of specific reference date |
| 2006 01 October | object      | Number of animals present in the farm as of specific reference date |
| 2007 01 January | object      | Number of animals present in the farm as of specific reference date |
| 2007 01 April   | object      | Number of animals present in the farm as of specific reference date |
| 2007 01 July    | object      | Number of animals present in the farm as of specific reference date |
| 2007 01 October | object      | Number of animals present in the farm as of specific reference date |
| 2008 01 January | object      | Number of animals present in the farm as of specific reference date |
| 2008 01 April   | object      | Number of animals present in the farm as of specific reference date |
| 2008 01 July    | object      | Number of animals present in the farm as of specific reference date |
| 2008 01 October | object      | Number of animals present in the farm as of specific reference date |
| 2009 01 January | object      | Number of animals present in the farm as of specific reference date |
| 2009 01 April   | object      | Number of animals present in the farm as of specific reference date |
| 2009 01 July    | object      | Number of animals present in the farm as of specific reference date |
| 2009 01 October | object      | Number of animals present in the farm as of specific reference date |
| 2010 01 January | object      | Number of animals present in the farm as of specific reference date |
| 2010 01 April   | object      | Number of animals present in the farm as of specific reference date |
| 2010 01 July    | object      | Number of animals present in the farm as of specific reference date |
| 2010 01 October | object      | Number of animals present in the farm as of specific reference date |
| 2011 01 January | object      | Number of animals present in the farm as of specific reference date |
| 2011 01 April   | object      | Number of animals present in the farm as of specific reference date |
| 2011 01 July    | object      | Number of animals present in the farm as of specific reference date |
| 2011 01 October | object      | Number of animals present in the farm as of specific reference date |
| 2012 01 January | object      | Number of animals present in the farm as of specific reference date |
| 2012 01 April   | object      | Number of animals present in the farm as of specific reference date |
| 2012 01 July    | object      | Number of animals present in the farm as of specific reference date |
| 2012 01 October | object      | Number of animals present in the farm as of specific reference date |
| 2013 01 January | object      | Number of animals present in the farm as of specific reference date |
| 2013 01 April   | object      | Number of animals present in the farm as of specific reference date |
| 2013 01 July    | object      | Number of animals present in the farm as of specific reference date |
| 2013 01 October | object      | Number of animals present in the farm as of specific reference date |
| 2014 01 January | object      | Number of animals present in the farm as of specific reference date |
| 2014 01 April   | object      | Number of animals present in the farm as of specific reference date |
| 2014 01 July    | object      | Number of animals present in the farm as of specific reference date |
| 2014 01 October | object      | Number of animals present in the farm as of specific reference date |
| 2015 01 January | object      | Number of animals present in the farm as of specific reference date |
| 2015 01 April   | object      | Number of animals present in the farm as of specific reference date |
| 2015 01 July    | object      | Number of animals present in the farm as of specific reference date |
| 2015 01 October | object      | Number of animals present in the farm as of specific reference date |
| 2016 01 January | object      | Number of animals present in the farm as of specific reference date |
| 2016 01 April   | object      | Number of animals present in the farm as of specific reference date |
| 2016 01 July    | object      | Number of animals present in the farm as of specific reference date |
| 2016 01 October | object      | Number of animals present in the farm as of specific reference date |
| 2017 01 January | object      | Number of animals present in the farm as of specific reference date |
| 2017 01 April   | object      | Number of animals present in the farm as of specific reference date |
| 2017 01 July    | object      | Number of animals present in the farm as of specific reference date |
| 2017 01 October | object      | Number of animals present in the farm as of specific reference date |
| 2018 01 January | object      | Number of animals present in the farm as of specific reference date |
| 2018 01 April   | object      | Number of animals present in the farm as of specific reference date |
| 2018 01 July    | object      | Number of animals present in the farm as of specific reference date |
| 2018 01 October | object      | Number of animals present in the farm as of specific reference date |
| 2019 01 January | object      | Number of animals present in the farm as of specific reference date |
| 2019 01 April   | object      | Number of animals present in the farm as of specific reference date |
| 2019 01 July    | object      | Number of animals present in the farm as of specific reference date |
| 2019 01 October | object      | Number of animals present in the farm as of specific reference date |
| 2020 01 January | object      | Number of animals present in the farm as of specific reference date |
| 2020 01 April   | object      | Number of animals present in the farm as of specific reference date |
| 2020 01 July    | object      | Number of animals present in the farm as of specific reference date |
| 2020 01 October | object      | Number of animals present in the farm as of specific reference date |
| 2021 01 January | object      | Number of animals present in the farm as of specific reference date |
| 2021 01 April   | object      | Number of animals present in the farm as of specific reference date |
| 2021 01 July    | object      | Number of animals present in the farm as of specific reference date |
| 2021 01 October | object      | Number of animals present in the farm as of specific reference date |
| 2022 01 January | object      | Number of animals present in the farm as of specific reference date |
| 2022 01 April   | object      | Number of animals present in the farm as of specific reference date |
| 2022 01 July    | object      | Number of animals present in the farm as of specific reference date |
| 2022 01 October | object      | Number of animals present in the farm as of specific reference date |
| 2023 01 January | object      | Number of animals present in the farm as of specific reference date |
| 2023 01 April   | object      | Number of animals present in the farm as of specific reference date |
| 2023 01 July    | object      | Number of animals present in the farm as of specific reference date |
| 2023 01 October | object      | Number of animals present in the farm as of specific reference date |

In [8]:
print("Footnotes of the dataset:")
print("""
    .. Data not applicable
    01 Jan 2023 - Preliminary
    01 Jan 2022 - Revised for Cattle
    01 Apr 2022 - Revised for Carabao
    * - Zamboanga City included in Zamboanga del Sur.
    ** - Davao City included in Davao del Sur.
    Note - Ending Inventory of 2022 are based on the new design of BLPS and new survey frame for CLPS.
    """
     )

Footnotes of the dataset:

    .. Data not applicable
    01 Jan 2023 - Preliminary
    01 Jan 2022 - Revised for Cattle
    01 Apr 2022 - Revised for Carabao
    * - Zamboanga City included in Zamboanga del Sur.
    ** - Davao City included in Davao del Sur.
    Note - Ending Inventory of 2022 are based on the new design of BLPS and new survey frame for CLPS.

#### ➡️ Handle missing values

In [9]:
# Since '..' means data not applicable, change all cells with '..' to null
df_livestock.replace('..', np.nan, inplace=True)

In [10]:
# Check for null values
df_livestock.isnull().sum()

Animal Type          0
Farm Type            0
Geolocation          0
1994 01 January    184
1994 01 April      645
                  ...
2022 01 October    149
2023 01 January    150
2023 01 April      808
2023 01 July       808
2023 01 October    808
Length: 123, dtype: int64

In [11]:
# Drop the columns that contains only null values
df_livestock.dropna(axis=1, how='all', inplace=True)

#### ➡️ Handle duplicate rows

In [12]:
# Check for duplicate rows
df_livestock.duplicated().sum()

0

#### ➡️ Handle invalid data

In [13]:
# Replace all the data with the values '*' and '**' with 0 so that its data type can be converted and later combined with their respective provinces
df_livestock.replace('*', 0, inplace=True)
df_livestock.replace('**', 0, inplace=True)

#### ➡️ Convert Data Types

In [14]:
# Convert all the date columns to float
for col in df_livestock.columns[3:122]:
    df_livestock[col] = pd.to_numeric(df_livestock[col], errors='coerce')

df_livestock.dtypes

Animal Type         object
Farm Type           object
Geolocation         object
1994 01 January    float64
1994 01 April      float64
                    ...
2022 01 January    float64
2022 01 April      float64
2022 01 July       float64
2022 01 October    float64
2023 01 January    float64
Length: 120, dtype: object

### 1.2 Feature Engineering

#### ➡️ Add the values of City of Zamboanga to Zamboanga del Sur

In [15]:
# Iterate over combinations of Animal Type and Farm Type
for _, group in df_livestock.groupby(['Animal Type', 'Farm Type']):
    
    # Check if both locations exist in the group
    if '....Zamboanga del Sur' in group['Geolocation'].values and '......City of Zamboanga' in group['Geolocation'].values:
        # Extract the row for City of Zamboanga
        row_city_of_zamboanga = group[group['Geolocation'] == '......City of Zamboanga']

        # Add the values from City of Zamboanga to Zamboanga del Sur
        df_livestock.loc[df_livestock['Geolocation'] == '....Zamboanga del Sur', df_livestock.columns[3:]] += row_city_of_zamboanga.iloc[0, 3:]

        # Drop the City of Zamboanga row from the DataFrame
        df_livestock = df_livestock[df_livestock['Geolocation'] != '......City of Zamboanga']

#### ➡️ Add the values of City of Davao to Davao del Sur

In [16]:
# Iterate over unique combinations of Animal Type and Farm Type
for _, group in df_livestock.groupby(['Animal Type', 'Farm Type']):
    # Check if both locations exist in the group
    if '....Davao del Sur' in group['Geolocation'].values and '......City of Davao' in group['Geolocation'].values:
        # Extract the row for City of Davao
        row_city_of_davao = group[group['Geolocation'] == '......City of Davao']

        # Add the values from City of Davao to Davao del Sur while keeping NaN values
        df_livestock.loc[df_livestock['Geolocation'] == '....Davao del Sur', df_livestock.columns[3:]] += row_city_of_davao.iloc[0, 3:]

        # Drop the City of Davao row from the DataFrame
        df_livestock = df_livestock[df_livestock['Geolocation'] != '......City of Davao']

C:\Users\RHODA\AppData\Local\Temp\ipykernel_8132\3765066108.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_livestock.loc[df_livestock['Geolocation'] == '....Davao del Sur', df_livestock.columns[3:]] += row_city_of_davao.iloc[0, 3:]

#### ➡️ Create 'Region' and 'Province' attributes

In [17]:
# Dividing Geolocation into Region and Province attributes
# Create new columns for Region and Province
df_livestock['Region'] = df_livestock['Geolocation'].where(~df_livestock['Geolocation'].str.startswith('....')).ffill()
df_livestock['Province'] = df_livestock['Geolocation'].where(df_livestock['Geolocation'].str.startswith('....'))

# Drop the original Geolocation column
df_livestock.drop(columns=['Geolocation'], inplace=True)

# Optionally, clean up the Province column to remove the '....' prefix
df_livestock['Province'] = df_livestock['Province'].str.replace('....', '', regex=False)

# Reorder the attributes
df_livestock = df_livestock[list(df_livestock.columns[:2]) + ['Region', 'Province'] + list(df_livestock.columns[2:-2])]